<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/style1.css" />
    <script src="js/script.js"></script>
  </head>

  <body class="adm">
    <div class="login">
      <img src="imgs/logobranco.png" class="logoadm" />

      <form class="form-adm">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Digite seu Email:"
        />
        <br />
        <br />
        <input
          type="password"
          name="senha"
          id="password"
          placeholder="Digite sua Senha:"
        />
        <br />
        <br />
        <input
          type="submit"
          name="enviar"
          value="submit"
          id="submit-btn"
          onclick="verificarInput()"
        />
      </form>
    </div>
  </body>
</html>
