<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/styleindex.css" />
  </head>

  <body>
    <header>
      <div class="logo-title">
        <img src="imgs/logobranco.png" class="logobranco" />
        <h1>Curitiba Teen</h1>
      </div>
    </header>

    <main>
      <div class="sidebar">
        <button class="botaosidebar1" id="toggle-sidebar">=</button>
        <br />
        <br />
        <br />
        <div class="sidebar-content">
          <a href="/posts"
            ><button class="botaosidebar">Ver todos os posts</button></a
          >

          <h2>Categorias:</h2>
          <br>

          <a href="/natureza"
            ><button class="botaosidebar">
              Natureza
              <img src="imgs/Natureza.PNG" class="fotocategorias" /></button
          ></a>

          <a href="/comida">
            <button class="botaosidebar">
              Comida
              <img src="imgs/Comida.PNG" class="fotocategorias" /></button
          ></a>

          <a href="/diversao">
            <button class="botaosidebar">
              Diversão
              <img src="imgs/Diversão.PNG" class="fotocategorias" /></button
          ></a>

          <a href="/museu">
            <button class="botaosidebar">
              Museu <img src="imgs/museu.PNG" class="fotocategorias" /></button
          ></a>

          <a href="/turistico">
            <button class="botaosidebar">
              Pontos Turísticos<img
                src="imgs/pontoturistico.PNG"
                class="fotocategorias"
              /></button
          ></a>
          <br />
          <br />
          <br />
          <br />
          <a href="/adm">
            <button class="botaosidebar">Login administrativo</button></a
          >
        </div>
      </div>
      <section class="content">
        <div id="container">
          <div id="label">Cine Passeio</div>
          <br>
          <br>
          <p class="subtitulo">Você gosta de Cinema?</p>
          <br>
          <p>Venha para o cine passeio!</p>
          <br>
          <p class="texto">O Cine Passeio é o mais tradicional de Curitiba quando o assunto é cinema! Ele traz a oferta de um cinema mais acessível, além da bela localização. O Cine Passeio ainda traz uma maior gama de produções culturais, para aqueles interessados!</p>
         <br>
         <p class="subtitulo">Onde se localiza?</p>
         <br>
         <p>R. Riachuelo, 410</p>
      
        </div>
        <div id="container2">
          <div id="label1">Chelsea</div>
          <br>
          <br>
          <p class="subtitulo">Está procurando um lugar diferente para sair com seus amigos?</p>
          <br>
          <p>Conheça Chelsea Burguers & Shakes</p>
          <br>
          <p class="texto">Se você já assistiu a clássica sitcom americana Friends, você vai adorar esse restaurante, que está recheado de referências à série tanto no seu ambiente quanto no nome dos pratos em seu cardápio. Além disso, o Chelsea também faz eventos temporários que trazem outras séries para seu menu, já tendo feito comidas com temática dos Simpsons, do Harry Potter e, agora, estão com um cardápio com a temática da Wandinha! Não vai perder essa oportunidade né?</p>
         <br>
         <p class="subtitulo">Onde se localiza?</p>
         <br>
         <p>Rua Mal. Hermes 113 - Centro Cívico</p>
      
        </div>

        </div>
      </section>
    </main>

    <footer>
      <br>
      <p class= "footertext" style="margin-left: 720px;" >@curitibateen</p>
    </footer>

    <script src="js/script.js"></script>
  </body>
</html>
